*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a{
    color: black;
    font-size: 18px
}

.odin{
    font-family: 'Times New Roman', Times, serif;
}

.suscri a{
    background-color: cornflowerblue;
}